.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  overflow: hidden;

  img {
    max-width: 65%;
  }

  &__btn {
    margin-bottom: 40px;
  }
}